* {
    border: none;
    border-radius: 0;
    font-family: "Cantarell", "Symbols Nerd Font Mono";
    font-size: 30px;
    min-height: 0;
}

#tags button {
    background: #222222;
    color: #bbbbbb;
}
#tags button.occupied {
    color: #eeeeee;
}
#tags button.focused {
    background: #005577;
}
#tags button.urgent{
    background: #ff0000;
}

window#waybar {
    background-color: #005577;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #222222;
}
